
body{
    color: chartreuse;
   display: table;
    margin: 0 auto;
    background: darkgrey;
    
}
input {
    background: #efd0be;
    color: #a52a2a;
    padding: 7px;
    border: unset;
    border-radius: 7px;
    border: 1px #a9a9a9 solid;
}
p{
    font-family: cursive;
    font-size: 20px;
}